body {
  color: #40514E;
  text-align: center;
  margin: 0;
position: relative;
background-color: #7FC8A9;
}

.top-container{
  background-color: #7FC8A9;
}

h1{
  margin-top: 0;
}

.top-cloud{
  position: absolute;
  right: 250px;
  top: 50px;
}

.top-text{
  padding-top: 150px;
}

.bottom-cloud{
  position: absolute;
  bottom: 280px;
  left: 100px;
}

.first-heading{
  font-family:sans-serif;
  font-size: 85px;
}
